img{
    height: 250px;
    width: 300px;
    display: inline;
    align-content: center;
    border: 100vw;
    background-color: white;

}
.fish-container{
    text-align: center;
}
body{
    background-image: url(https://i.imgur.com/dhnoIds.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    background-color: rgba(0, 0, 0, 0.527)
}
#navigation {
    color:hotpink;
    font-weight: 900;
    font-size: 30px;
}